.header {
  text-align: center;
  padding-bottom: 20px;
}

.station {
  width: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1.5em;
  text-align: center;
  color: #FFF;
  background-color: #039BE5;
  display: inline-block;
}

.station-description-container {
  padding: 12px;
}

.favorites-button-container {
  padding: 12px;
}

.btn {
  font-size: 0.8em;
}

#background {
  background: url("../images/citi_bikes.jpg");
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  background-attachment: fixed;
  background-position: center center;
}